[submodule "picojson"]
	path = picojson
	url = https://github.com/kazuho/picojson
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "HighFive"]
	path = HighFive
	url = github.com:BlueBrain/HighFive
[submodule "SimpleXdmf"]
	path = SimpleXdmf
	url = github.com:hsimyu/SimpleXdmf
[submodule "SimpleVTK"]
	path = SimpleVTK
	url = https://github.com/hsimyu/SimpleVTK
