#!/bin/sh
#QSUB -q {QUEUE}
#QSUB -ug {GROUP}
#QSUB -W 24:00
#QSUB -A p=1:t=1:c=1
#QSUB -m e

bin_name=tdpic

if [ -e ./${bin_name} ]; then
    aprun -n $QSUB_PROCS -d $QSUB_CPUS -N $QSUB_PPN ./${bin_name}  > ./std.out
    RC=$?
    if [ $RC -gt 0 ]; then
        echo "return code: $RC"
    fi
    exit $RC
else
    echo "An executionable ${bin_name} file does not exist."
    exit
fi
