{
    "Environment": {
        "max_iteration": 10,
        "job_type": "new",
        "solver_type": "EM",
        "boundary": "DDDDDD",
        "dimension": "3D",
        "nx": 16,
        "ny": 16,
        "nz": 16,
        "proc_x": 2,
        "proc_y": 1,
        "proc_z": 1,
        "dx": 1.0,
        "dt": 1e-8
    },
    "Plasma": {
        "Electron": {
            "type": "ambient",
            "mass": 1.0,
            "charge": -1.0,
            "density": 1.0e6,
            "temperature": 12.0,
            "particle_per_cell": 20
        },
        "Proton": {
            "type": "ambient",
            "mass": 1836.0,
            "charge": 1.0,
            "density": 1.0e6,
            "temperature": 12.0,
            "particle_per_cell": 20
        }
    }
}
